@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Explora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Explora&display=swap');
:root {
    --primary-color: #DC2626;
    --dark-gray:  #475569;
    --off-white: #F3F4F6;
    --not-red: #FEE2E2;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    
}

/* container */

.container {
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}

/* links */
.links {
    text-decoration: none;
    padding: 0.5rem 1rem;
    text-align: center;
    color: #F3F4F6;
    
}

.primary-link {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
}

.secondary-link {
    
    border-radius: 0.5rem;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}


/* list */


.non-bullet {
    list-style: none;
}

.list-inLine {
    display: inline;
    padding: 0rem 0.5rem;
}

/* navigation */

.navInLine {
    display: inline;
    padding: 0rem 0.5rem;
}

.noUnderline {
    text-decoration: none;
}

.redBackground {
    background-color: #DC2626;
    border-bottom-left-radius: 1rem;
}

.whiteInText {
    color: white;
    padding-left: 4rem;
    
}

.alignTextLeft {
    text-align: left;
}
.alignTextRight {
    text-align: right;
    padding: 2rem
    
}

.boldIAmBrand {
    font-weight: bold;
    padding: 2rem 0.5rem;
    font-size: xxx-large;
}

/* header */

.hero {
    padding: 2rem;
    text-align: center;
    
}

.hero .hero-image {
    max-width: 350px;
    display: block;
    margin: auto;
    
}

.hero .hero-heading {
    color: var(--dark-gray);
    text-align: center;
    padding-top: 1rem;
    font-size: 3rem;
}

.hero .hero-heading .hero-heading-modified {
    color: #DC2626;
}

/* section */

.section {
    padding:2rem ;
}

.section h1,p {
    text-align: center;
    padding: 2rem;
}

.notRed {
    background-color: var(--not-red);
}

.ow {
    background-color: var(--off-white);
}

/* footer */

.footer {
    background-color: var(--primary-color);
    border-top-right-radius: 2rem;
    padding: 0cm;
    color: #F3F4F6;
    text-align: center;

}


.footer .footer-header {
    
    text-align: center;
    padding: 2rem;
}

.footer .social-links {
    
    padding-top: 2rem;
    text-align: center;
    font-weight: bold;

}

.footer .ul {
    padding-inline-end: 0px;
}

.footer p {
    text-align: right;
}

.footer span {
    
    font-family: 'font-family: ''Cinzel', serif;
    font-size: 12px;
    color: aliceblue;
    ;
}